$contentBg	: #eeeeee;
$navColor	: #0097a7;
$navText	: #ffffff;
$clearMrg	: 0px 10px;
$imgRad		: 50%;
$simgSize	: 90px;
$itemColor1 : #ef5350 !important;
$itemColor2 : #1976d2 !important;
$itemColor3 : #009688 !important;
$itemColor4 : #ffb300 !important;